<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs') -%>
    </head>
    <body>
        <div class="jumbotron">
            <a href="/login">Login</a><br>
            <a href="/playlists">Playlists</a>
        </div>
        <%- include('partials/foot.ejs') -%>
    </body>
</html>
